<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" placeholder="Enter title here" formControlName="title" required>
        <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="title.errors?.['required']">Missing title.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea placeholder="Describe your Moment here" formControlName="description" required></textarea>
        <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="description.errors?.['required']">Missing description.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="image">Select your photo:</label>
        <input type="file" (change)="onFileSelected($event)"/>
    </div>
    <input type="submit" value="{{ btnText }}">
</form>